$font-stack: 'Product Sans';
$main-bg-color: #555555;
$red: #D32F2F;
$blue: #1976D2;
$yellow: #F57F17;

*, *:before, *:after {
    box-sizing : border-box;
    font-family: $font-stack, 'Microsoft JhengHei';
}

@font-face {
    font-family: $font-stack;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.main-bg-color{
    background-color: $main-bg-color;
}

.red {
    color: $red;
}

.blue{
    color: $blue;
}

.yellow{
	color: $yellow;
}

@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }

